/* 헤더(header.php) */
div#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo {
  display: block;
  text-align: center;
}
div.img_logo {
  margin: auto;
  text-align: center;

}
#icon {
  width: 130px;
  height: 130px;
  margin-top: 20px;
}

div.logo a#title {
  font-size: 1.5rem;
  margin-left: 30px;
}

#top_menu a:hover {
  color: skyblue;
}

#menu_bar a:hover {
  color: skyblue;
}

