@charset "UTF-8";

* {
  font-family: "Noto Serif Korean";
}

/* 슬라이드 영역 */
.slideshow {
  background-color: white;
  width: auto;
  height: 350px;
  position: relative;
  overflow: hidden;
}

/* 슬라이드 이미지 영역 */
.slideshow_slides {
  position: absolute;
  /* 부보의 영역 다 차지 */
  width: 100%;
  height: 100%;

}

.slideshow_slides a img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
}

/* 4장의 이미지 위치조정(같은 사이즈로 맞출 것)
부모의 폭을 다 가져감 */
.slideshow_slides a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: inline-block;
}

/* 네바게이션 바를 중앙에 배치하기 */
.slideshow_nav a {
  position: absolute;
  left: 50%;
  top: 50%;
  color: aquamarine;
  font-size: 60px;
  /* 중앙으로 배치 */
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

/* 네비게이션 바를 좌우로 이동*/
.slideshow_nav a.prev {
  margin-left: -650px;
}

.slideshow_nav a.next {
  margin-left: 650px;
}

/* 인디케이터 중앙에 배치하기 */
.indicator {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  text-align: center;
}

.indicator a {
  display: inline-block;
  color: aquamarine;
  font-size: 20px;
  opacity: 1;
  padding: 5px;
}

.indicator a.item {
  color: blueviolet;
}

/* 두번쨰 슬라이드 */

.image-slider {
  position: relative;
  width: 80%;
  height: 300px;
  overflow: hidden;
  clear: both;
}

.slide-wrapper {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 1s;
}

.slide {
  width: 100%;
  height: 100%;
  margin: 0 -50px;
}

.slide img {
  max-width: 100%;
  max-height: 100%;

}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}